
.posterslist {
  display: flex;
  justify-content: space-between;
  padding: 0.7rem;
  margin: 0 auto;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
}

/* .poster {
  // border: 1px solid black;
  text-align: left;
  font-size: 9rem;
  margin: 2rem 0;
  width: 30%;
  height: auto;
  word-break: break-all;
  &:hover {
    color: rgb(133, 228, 231);
  }
} */

