@import url('https://fonts.googleapis.com/css?family=Abel|Catamaran|Fjalla+One|Noto+Serif|Oxanium|Poppins|Roboto|Spartan|Varela+Round&display=swap');
.poster-little{
  
  font-family: 'Roboto';
} 
.poster-middle {
  font-size:6em;
  font-family: 'Varela Round';
}
.poster-middle2 {
  font-size:4em;
  font-family: 'Spartan';
}
.poster-middle3 {
  font-family: 'Abel';
  font-size:2em;
}
.poster-middle4 {
  font-family: 'Poppins';
  font-size:1em;
}

.poster-big {
  font-size:1em;
  font-family: 'Poppins';
}
