.home {
  display: flex;
  justify-content: space-between;  
	padding: .7rem;
  margin: 0 auto;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
}

.posters {
  width: 20%;
  height:auto;
  
}


